<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="imu_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.03 0.03 0.01"/>
            </geometry>
            <material name="yellow"/>
        </visual>
        <xacro:inertial_box mass="0.02" x="0.03" y="0.03" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- 
         PLUGIN CAPTEUR IMU — Gazebo Harmonic
         Configuration :
           - Fréquence : 50 Hz
           - Publication sur le topic "imu"
           - Frame de référence : imu_link
    -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <pose>0 0 0 0 0 0</pose>
            <topic>imu</topic>
            <update_rate>50</update_rate>
            <gz_frame_id>${frame_prefix}imu_link</gz_frame_id>
            <always_on>1</always_on>
            <visualize>false</visualize>
        </sensor>
    </gazebo>

</robot>
